<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Menu</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/menu">Menu List</a></li>
        <li routerLinkActive="active"><a routerLink="/cart">Cart</a></li>
      </ul>
    </div>
  </div>
</nav>
