<div class="row">
  <div class="col-xs-10">
    <hr>
    <ul class="list-group">
      <li class="list-group-item" style="cursor: pointer; display:flex; justify-content:space-between; align-items:center"
      *ngFor="let menuItem of menuItems; let i = index">
        {{ menuItem.name }} <br>
        {{menuItem.price + '$'}}
            <button class="btn btn-danger" type="button" (click)="onDelete(i)">
              Delete
            </button>
    </li>
      
    </ul>
    <label for="total">Total Price</label>
    <input type="text" id="total" disabled value="{{ getTotal() + '$' }}">
  </div>
</div>