<a style="cursor: pointer;"
   [routerLink]="[index]"
   routerLinkActive="active"
   class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ menu.name }}</h4>
    <p class="list-group-item-text">{{ menu.price + '$' }}</p>
  </div>
  <span class="pull-right">
    <img [src]="menu.imagePath" alt="{{ menu.name }}" class="img-responsive" style="max-height: 50px;">
  </span>
</a>
