<div class="row">
  <div class="col-xs-12">
    <img [src]="menu.imagePath" alt="{{ menu.name }}" class="img-responsive" style="max-height: 300px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ menu.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDpordown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage menu
      <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddToCart()" style="cursor: pointer;">To Cart</a></li>
      </ul>
    </div>
  </div>
</div>

