<div class="row">
  <div class="col-xs-12" style="display: flex;flex-direction: column;">
    <ul class="list-group">
      <li class="list-group-item" style="float:right; cursor:pointer" (click)=onFilter(item.name) *ngFor="let item of filterItems">{{ item.name }}</li>
    </ul>
    <app-menu-item *ngFor="let menuEl of menuItems | categoryFilter: filterArgs;"
                     [menu]="menuEl"
                     [index]="menuEl.id"
    ></app-menu-item>
    <app-form></app-form>
  </div>
</div>
